# pygame==2.6.1 # Moved to Dockerfile
keyboard==0.13.5
timecode==1.4.1
pandas
requests==2.32.3
# PyAudio==0.2.14 # Moved to Dockerfile
soundfile==0.13.1
pydub==0.25.1
scipy
openai==1.75.0
redis==4.6.0
dotenv