# Git files
.git
.gitignore

# Docker files
.dockerignore
docker-compose.yml

# Logs and temp files
*.log
*.tmp
neurosync_setup_log.txt

# Downloaded files that will be handled by the script
NeuroSync_Setup_Temp
NeuroSync
Game

# Markdown files except README.md
*.md
!README.md

# Other unnecessary files
.vscode
.idea
__pycache__
*.pyc 