#############################################
# Autonomy / Livepeer VTuber environment    #
#############################################

# ------------ Central manager / gateway ------------
CENTRAL_MANAGER_URL=https://central-manager.quantumyield.co
CENTRAL_MANAGER_TOKEN=test-api-key-2024
ORCHESTRATOR_NAME=example-vtuber-autonomy
# When exposing the orchestrator publicly, set the public URL here
ORCHESTRATOR_URL=http://host.docker.internal:8082

# ------------ Livepeer orchestrator (go-livepeer) ------------
LIVEPEER_NETWORK=arbitrum-one-mainnet
ORCHESTRATOR_HOST=0.0.0.0
ORCHESTRATOR_PORT=9995
LIVEPEER_ORCH_SECRET=orch-secret
ETH_RPC_URL=https://arb1.arbitrum.io/rpc
ETH_PASSWORD_FILE=/root/.lpData/.ethpass        # Mount config/ethpass with the password
ETH_ADDRESS=0x0000000000000000000000000000000000000000
ETH_ORCH_ADDRESS=0x0000000000000000000000000000000000000000
PRICE_PER_UNIT=0
TICKET_EV=0
AUTO_ADJUST_PRICE=false
MAX_GAS_PRICE=1000000000

# ------------ Worker registration ------------
LIVEPEER_ORCH_URL=https://livepeer-orchestrator:${ORCHESTRATOR_PORT}
CAPABILITY_NAME=agent-net
CAPABILITY_DESCRIPTION=Run autonomous Embodied agents
CAPABILITY_PRICE_PER_UNIT=0
CAPABILITY_PRICE_SCALING=1
CAPABILITY_CAPACITY=10
MIN_SERVICE_UPTIME=80.0

# ------------ Pixel Streaming / Unreal ------------
PUBLIC_IP=auto
VTUBER_SESSION_DIR=/home/ubuntu/vtuber_sessions
VTUBER_TCP_HOST=host.docker.internal
VTUBER_TCP_PORT=7777
VTUBER_ALLOWED_ADDRESSES=
STUN_SERVER=stun.l.google.com:19302
ENABLE_REST_API=0
SIGNALING_EXTRA_ARGS=
NVIDIA_DRIVER_CAPABILITIES=all
NVIDIA_VISIBLE_DEVICES=all

# ------------ Worker ports ------------
WORKER_PORT=9876
