#############################################
#    Livepeer VTuber environment    #
#############################################

# ------------ Livepeer orchestrator (go-livepeer) ------------
LIVEPEER_NETWORK=arbitrum-one-mainnet
ORCHESTRATOR_PORT=9995
LIVEPEER_ORCH_SECRET=
ETH_RPC_URL=https://arb1.arbitrum.io/rpc
ETH_PASSWORD_FILE=/root/.lpData/.ethpass        # Mount config/ethpass with the keystore password
ETH_ADDRESS=0x0000000000000000000000000000000000000000
ETH_ORCH_ADDRESS=0x0000000000000000000000000000000000000000
PRICE_PER_UNIT=16000000000000
TICKET_EV=16000000000000
AUTO_ADJUST_PRICE=false
MAX_GAS_PRICE=1000000000

# ------------ Worker registration ------------
LIVEPEER_ORCH_URL=https://livepeer-orchestrator:${ORCHESTRATOR_PORT}
CAPABILITY_NAME= # IMPORTANT: Fill the capability name that you gave us in the form here!
CAPABILITY_PRICE_PER_UNIT=0
CENTRAL_MANAGER_URL=http://86.106.138.188:8010

# ------------ Pixel Streaming / Unreal ------------
VTUBER_SESSION_DIR=/home/ubuntu/vtuber_sessions
VTUBER_TCP_HOST=host.docker.internal
VTUBER_TCP_PORT=7777
