# Define a global snippet for orchestrator proxy configuration
(orchestrator_proxy) {
	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		Access-Control-Allow-Headers *
	}

	@options method OPTIONS
	respond @options 204

	reverse_proxy https://orchestrator:9995 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

:8088 {
	handle_path /worker/* {
		header {
			Access-Control-Allow-Origin *
			Access-Control-Allow-Methods "GET, POST, OPTIONS"
			Access-Control-Allow-Headers "Content-Type, Authorization"
		}

		@options method OPTIONS
		respond @options 204

		reverse_proxy http://neurosync:9876
	}

	handle_path /orchestrator/* {
		import orchestrator_proxy
	}

	# Preserve the /process/* prefix when proxying so orchestrator sees /process/token etc.
	handle /process/* {
		import orchestrator_proxy
	}

	handle {
		root * /var/www/html/app
		try_files {path} /index.html
		file_server
	}
}
