setuptools
wheel
torch>=2.6.0
torchaudio
torchvision
transformers>=4.51.0
diffusers>=0.33.1
torchao
bitsandbytes
accelerate
fastapi>=0.104.1
requests>=2.31.0
python-multipart>=0.0.6
huggingface_hub[cli,hf_transfer]
nvidia-ml-py
uvicorn[standard]>=0.24.0
jsonschema>=4.19.0
httpx>=0.25.0
psutil>=5.9.0
pydantic>=2.0.0